<!doctype html>
<html>
<head>
{% block header %}{% endblock %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
</head>
<ul class="sidenav">
{% for item in menu %}
  {% if item['name'] == active_name %}
      <li><a class="active" href="{{item['link']}}">{{item['label']}}</a></li>
  {% else %}
      <li><a href="{{item['link']}}">{{item['label']}}</a></li>
  {% endif %} 
{% endfor %}
</ul>
<div class="logos">
<img src="static/api_logo_pwrdBy_strava_stack_light.png"/>
</div>
<div class="content">
{% block content %}{% endblock %}
</div>
</body>

