{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>
{% endblock %}

{% block content %}

<script src="static/functions.js" type="text/javascript"></script>
<script>

function display_tab(tabid) {
  var i, tabcontent, tablinks;

  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tab button");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabid).style.display = "block";
  document.getElementById("btn " + tabid).className += " active";

  map.invalidateSize();
}

function generate_table(table, data) {
  table.innerHTML = '';
  for (let element of data) {
    let row = table.insertRow();
    for (key of ['anchor', 'type', 'date', 'distance', 'gain']) {
      let cell = row.insertCell();
      cell.innerHTML = element[key];
    }
  }
}

function display_stats(stats) {
    for (s of ['total', 'per_activity']) {
        for (m of ['dist', 'elevation', 'time']) {
            id = 'stats_' + s + '_' + m;
            document.getElementById(id).innerHTML = stats[s][m];
        }
    }
    document.getElementById('stats_speed').innerHTML = stats.per_time.speed;
    document.getElementById('stats_pace').innerHTML = stats.per_dist.pace;
}

function getBounds(activities) {
    var sw = L.latLng(activities[0].start_latlng);
    var ne = L.latLng(activities[0].start_latlng);
    for (let a of activities) {
         if (a.start_latlng[0] < sw.lat) { sw.lat = a.start_latlng[0]; }
         if (a.start_latlng[1] < sw.lng) { sw.lng = a.start_latlng[1]; }
         if (a.start_latlng[0] > ne.lat) { ne.lat = a.start_latlng[0]; }
         if (a.start_latlng[1] > ne.lng) { ne.lng = a.start_latlng[1]; }
    }
    return L.latLngBounds(sw, ne);
}

var layer_control = null;

var markers = [];
var starts_layer = L.layerGroup([]);

function display_markers(data) {
    for (let marker of markers) {
        map.removeLayer(marker);
    }
    markers = [];

    for (let a of data) {
        p = a.start_latlng;
        var marker = L.marker(p);
        markers.push(marker);
        marker.bindPopup(a.date + "<br/>" + a.anchor);
    }

    layer_control.removeLayer(starts_layer);
    starts_layer = L.layerGroup(markers);
    layer_control.addOverlay(starts_layer, "Start Points");
    starts_layer.addTo(map); // make it visible by default

    bounds = getBounds(data);
    map.fitBounds(bounds);
}

var lines = [];
var lines_layer = L.layerGroup([]);

function display_tracks(data) {
    for (let line of lines) {
        map.removeLayer(line);
    }
    lines = [];

    for (let a of data) {
        var coordinates = L.Polyline.fromEncoded(a.polyline).getLatLngs();

        var line = L.polyline(
            coordinates,
            {
                color: 'red',
                weight: 2,
                opacity: .7,
                lineJoin: 'round'
            }
        ).addTo(map);
        lines.push(line);
    }

    layer_control.removeLayer(lines_layer);
    lines_layer = L.layerGroup(lines);
    layer_control.addOverlay(lines_layer, "Tracks");
    lines_layer.addTo(map); // make it visible by default
}

function set_search_cb(status, ret, data) {
    if (status == 200) {
	console.log(ret);
	result = ret.results;
        document.getElementById('status').innerHTML = 'found ' + result.length + ' results';
        table = document.getElementById('activities');
        for (let a of result) {
            a['anchor'] = "<a href='" + a.link + "'>" + a.name + "</a>";
        }

        generate_table(table, result);
        display_markers(result);
        display_tracks(result);

        display_stats(ret.stats);
    } else if (status == 401) {
        window.location.href = '/login?page=/search';
    }
}

function set_search() {
    all_inputs = document.querySelectorAll('input');
    filter = {};
    for (i = 0; i < all_inputs.length; i++) {
        input = all_inputs[i];
        id = input.id;
        if (input.type == 'checkbox') {
            filter[id] = input.checked;
        } else {
            filter[id] = input.value;
        }
    }
    filter['mapbounds'] = map.getBounds();
    async_post_json('/api/set_search', filter, set_search_cb, null);
    document.getElementById('status').innerHTML = 'searching...';
}

/* save map view in cookie */
function on_moveend(e){
    center = map.getCenter();
    zoom = map.getZoom();
    view = {"lat" : center.lat, "lng": center.lng, "zoom" : zoom};
    set_cookie("view", JSON.stringify(view), 365);
}

</script>

{% if athlete.measurement_preference == 'feet' %}
{%  set unit_elev = 'feet' %}
{%  set unit_dist = 'miles' %}
{% else %}
{%  set unit_elev = 'meters' %}
{%  set unit_dist = 'km' %}
{% endif %}

<table class="main">
<tr>
<td>Title contains:</td><td colspan='3'><input type='text' size='100' id='title_words'/></td>
</tr><tr>
{% for type in ['run', 'ride', 'hike', 'walk'] %}
<td>{{ type }}:<input type="checkbox" size="20" id="type_{{type}}"></td>
{% endfor %}
</tr><tr>
<td>Date after:</td><td><input type='date' size='50' id='date_after'/></td>
<td>Date before:</td><td><input type='date' size='50' id='date_before'/></td>
</tr><tr>
<td>Distance greater than:</td><td><input type='text' size='5' id='min_dist'/> {{unit_dist}}</td>
<td>Distance less than:</td><td><input type='text' size='5' id='max_dist'/> {{unit_dist}}</td>
</tr><tr>
<td>Elevation greater than:</td><td><input type='text' size='5' id='min_gain'/> {{unit_elev}}</td>
<td>Elevation less than:</td><td><input type='text' size='5' id='max_gain'/> {{unit_elev}}</td>
</tr><tr>
<td>Within map bounds:<input type="checkbox" size="20" id="within_bounds"></td>
</tr><tr>
<td><button type="button" onclick="set_search()">Search</button></td>
<td><p id='status'></p></rd>
</tr>
</table>

<div class="tab">
  <button class="tab button" onclick='display_tab("tab list")' id='btn tab list'>List</button>
  <button class="tab button" onclick='display_tab("tab map")' id='btn tab map'>Map</button>
  <button class="tab button" onclick='display_tab("tab stats")' id='btn tab stats'>Stats</button>
</div>

<div id="tab list" class="tabcontent">
<table class="main" id="activities">
</table>
</div>

<div id="tab map" class="tabcontent">
</div>
<script>
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      });
    var otm = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org/">SRTM</a>. Map style &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
      })

    var baseMaps = {
        "Open Street Map": osm,
        "Open Topo Map": otm,
    };

    var map = L.map('tab map', layers = [osm, otm]).setView([37.85, -119.55], 13);
    osm.addTo(map);
    layer_control = L.control.layers(baseMaps).addTo(map);
    L.control.scale().addTo(map);

    try {
        view = JSON.parse(get_cookie("view"));
        if (view) {
            map.setView(L.latLng(view.lat, view.lng), view.zoom);
        }
    } catch (error) {
        console.log(error);
    }

    map.on('moveend', on_moveend);

    display_tab("tab map");
</script>

<div id="tab stats" class="tabcontent">
<table class="main" id="stats">
<tr><td><b>Totals</b></td></tr>
<tr><td>Distance</td><td id='stats_total_dist'></tr>
<tr><td>Elevation</td><td id='stats_total_elevation'></tr>
<tr><td>Time</td><td id='stats_total_time'></tr>
<tr><td><b>Per Activity</b></td></tr>
<tr><td>Distance</td><td id='stats_per_activity_dist'></tr>
<tr><td>Elevation</td><td id='stats_per_activity_elevation'></tr>
<tr><td>Time</td><td id='stats_per_activity_time'></tr>
<tr><td><b>Pace</b></td><td id='stats_pace'></tr>
<tr><td><b>Speed</b></td><td id='stats_speed'></tr>
</table>
</div>

{% endblock %}

